<div class="jumbotron">
<h1>Impressum</h1>
<h1>.....................</h1>
TEST
<p>Find me in app/views/home/about.html.erb</p>

<p class="lead">
    Stelle hier deine Sachen rein die du verkaufen möchtest!
</p>

rails generate migration AddImageToAbout image:string


</div>
<div class="row marketing">
	
<div class="col-lg-6">
   
</div>
<div class="col-lg-6">
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
</div>
</div>
