<div class="jumbotron">
<h1>Impressum</h1>
<h1>.....................</h1>
TEST
<p>Find me in app/views/home/about.html.erb</p>

<p class="lead">
    Stelle hier deine Sachen rein die du verkaufen möchtest!
</p>



rails generate migration AddImageToAbout image:string

</div>


