<!DOCTYPE html>
<html>
<body>

<div id="container" style="width:500px">

<div id="header" style="background-color:#db7c78;">
<h1 style="margin-bottom:0;">Ay.lin</h1></div>

<div id="menu" style="background-color:#82c496;height:200px;width:100px;float:right;">
<b>Menu</b><br>
HTML<br>
CSS<br>
JavaScript</div>

<div id="content" style="background-color:#f7f6f2;height:200px;width:400px;float:left;">
Content goes here</div>

<div id="footer" style="background-color:#ededed;clear:both;text-align:center;">
Copyright © Pat&Aylin</div>

</div>
 
</body>
</html>
